import( BiocParallel )
#import( parallel )
import( zCompositions )
import(methods)
import(S4Vectors)
import(IRanges)
import(GenomicRanges)
import(SummarizedExperiment)
importFrom("grDevices", "rgb")
importFrom("graphics", "abline","hist","par","plot","points","mtext","polygon","boxplot")
importFrom("stats", "cor.test", "drop1", "glm", "kruskal.test",
    "p.adjust", "rgamma", "t.test", "wilcox.test", "coef",
    "pnorm", "psignrank", "pt", "pwilcox", "as.dist", "density", "dist")
importFrom("utils", "installed.packages")
#importFrom("BiocParallel", "bplapply")

export( aldex )
exportPattern( "^aldex[.]*" )
exportMethods(getMonteCarloInstances,getSampleIDs,getFeatures,
    numFeatures,numMCInstances,getFeatureNames,getReads,numConditions,
    getMonteCarloReplicate, getMonteCarloSample, getDenom)
