import( BiocParallel )
#import( parallel )
import( zCompositions )
import(methods)
import(S4Vectors)
import(IRanges)
import(GenomicRanges)
import(SummarizedExperiment)
import(lattice)
import(directlabels)
import(latticeExtra)
importFrom("grDevices", "rgb")
importFrom("graphics", "abline","hist","par","plot","points","mtext","polygon","boxplot",
    "text", "grid")
importFrom("stats", "cor.test", "drop1", "glm", "kruskal.test",
    "p.adjust", "rgamma", "t.test", "wilcox.test", "coef",
    "pnorm", "psignrank", "pt", "pwilcox", "as.dist", "density", "dist", "ecdf", "rt",
    "runif", "reshape")
importFrom("utils", "installed.packages")
importFrom("Rfast", "rowMedians", "colMedians")
#importFrom("BiocParallel", "bplapply")

export( aldex )
export(plotGamma)
export(interpretGamma)
exportPattern( "^aldex[.]*" )
exportMethods(getMonteCarloInstances,getDirichletInstances,getSampleIDs,getFeatures,
    numFeatures,numMCInstances,getFeatureNames,getReads,numConditions,
    getDirichletReplicate, getDirichletSample,
    getMonteCarloReplicate, getMonteCarloSample, getDenom, getScaleSamples, getConditions)
